nose
unidecode
requests
slugify
cerberus
stripe
boto3
mock
pysimplesoap
slugify
cerberus
cachetools
cryptography
algoliasearch
requests_mock
querystring_parser
pyquerystring
parse-accept-language
adyen
unittest2

pillow == 3.4.2
fs == 0.5.5a1
qrcode == 5.3
vcrpy == 1.11.1

git+https://github.com/akretion/locomotivecms-python-client@master#egg=locomotivecms
git+https://github.com/cheah/adyen-cse-python@master#egg=adyen-cse-python
