unidecode
num2words==0.5.4
pycep-correios
erpbrasil.base==1.2.0
workalendar==7.1.1
lxml==4.6.2
pyopenssl==18.0.0
signxml
cryptography
pillow==7.1.0
ofxparse==0.16
suds-jurko-requests
xmlsec
xmldiff
pudb
-e git://github.com/akretion/erpbrasil.assinatura.git#egg=erpbrasil.assinatura
-e git://github.com/erpbrasil/erpbrasil.transmissao.git#egg=erpbrasil.transmissao
-e git://github.com/erpbrasil/nfelib.git#egg=nfelib
-e git://github.com/erpbrasil/erpbrasil.edoc.git#egg=erpbrasil.edoc
-e git://github.com/erpbrasil/erpbrasil.edoc.pdf.git#egg=erpbrasil.edoc.pdf
anytree
pyexcel
pyexcel-xls
pyexcel-xlsx
py3o.template
py3o.formats
