unidecode
pillow==7.1.2
ofxparse==0.16
suds-jurko-requests
xmlsec
lxml==4.2.3
num2words==0.5.4
pycep-correios
signxml==2.8.0
pyopenssl==18.0.0
cryptography==2.9.2
workalendar==7.1.1
erpbrasil.base==1.2.0
erpbrasil.assinatura==0.5.2
erpbrasil.transmissao==0.1.1
