unidecode
num2words==0.5.4
pycep-correios==5.0.0
nfelib==1.2.0
erpbrasil.base==2.2.2
erpbrasil.assinatura==1.2.0
erpbrasil.transmissao==1.0.0
-e git+https://github.com/akretion/erpbrasil.edoc.git@master-schema2#egg=erpbrasil.edoc
-e git://github.com/erpbrasil/febraban-python.git@v0.7.1#egg=febraban
erpbrasil.edoc.pdf==1.0.2
nfselib.ginfes==0.2.0
nfselib.issnet==0.2.0
nfselib.paulistana==0.2.0
workalendar==7.1.1
lxml==4.6.5
pyopenssl==19.1.0
signxml
cryptography
pillow==8.3.2
ofxparse==0.16
suds-jurko-requests
xmldiff
pudb
anytree
pyexcel
pyexcel-xls
pyexcel-xlsx
py3o.template
py3o.formats
cachetools>=2.0.1
chardet
git+https://github.com/OCA/openupgradelib.git@master
vcrpy
odoo_test_helper
